body {
  background-color: antiquewhite;
}
/* .form {

} */
.nameInput{
  font-weight: bold;
}
button[type="submit"] {
  font-weight: bold;
}
.card {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .pokemon-image {
  width: 200px;
  height: 200px;
} */
 .catchBtn {
  display: none;
 }
