body {
  background-color: antiquewhite;
}
header {
  background-color: darkslategray;
  color: white;
  padding: 20px;
  text-align: center;
}
.pokeForm {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nameInput{
  font-weight: bold;
}
button[type="submit"] {
  
  font-weight: bold;
  cursor: pointer;
}
.card {
  background-color: rgba(13, 210, 217, 0.695);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  max-width: 300px;
  transition: transform 0.3s ease;
}
 .catchBtn {
  display: none;
  background-color: rgb(77, 132, 132);
  font-weight: bold;
  cursor: pointer;

 }
 .pokedex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
 }
